
body,html{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 70px;
    background-color: rgb(1, 10, 7);
}
label{
    font-size: 35px;
    color:rgb(37, 14, 92);
    margin: 70px;
    line-height: 80px;
}
nav ul{
    float: right;
    list-style: none;

}
nav ul li{
    display: inline-block;
    line-height: center;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    text-transform: capitalize;
padding:8px 20px;
background-color: rgb(81, 56, 94);
}
p{
    font-size: larger;
    font-weight: 800;
    background-color: beige;
}
p1{
background-color: rgb(170, 164, 173);
font-size: 20px;
